<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing Up/Sign In to Movies </title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
    <link rel="stylesheet" href="login-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="name" id="sign-up-name" required />
                <input type="email" placeholder="email" id="sign-up-email" required />
                <input type="password" placeholder="password" id="sign-up-passwd" required />
                <button id="signUpButton">Sign Up</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
                <input type="email" placeholder="email" id="sign-in-email" required />
                <input type="password" placeholder="password" id="sign-in-passwd" required />
                <button id="signInButton">Sign in</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <script>
        $('.message a').click(function() {
            $('form').animate({
                height: "toggle",
                opacity: "toggle"
            }, "slow");
        });

        signIn = document.querySelector("#signInButton")
        signUp = document.querySelector("#signUpButton")

        signUpName = document.querySelector("#sign-up-name")
        signUpEmail = document.querySelector("#sign-up-email")
        signUpPwd = document.querySelector("#sign-up-passwd")

        signInEmail = document.querySelector("#sign-in-email")
        signInPwd = document.querySelector("#sign-in-passwd")

        signInUrl = "http://movie-sultan.herokuapp.com/sign-in"
        signUpUrl = "http://movie-sultan.herokuapp.com/sign-up"

        signIn.addEventListener('click', (event) => {
            const data = {
                email: signInEmail.value,
                password: signInPwd.value
            }
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            fetch(signInUrl, options)
                .then(res => res.json())
                .then((result) => {
                    localStorage.loginToken = result.accessToken
                    localStorage.user_data = result.user_data
                    location.pathname = '/'
                    location.reload()

                }).catch((err) => {
                    localStorage.removeItem('loginToken')
                })
        })

        signUp.addEventListener('click', (event) => {
            const data = {
                name: signUpName.value,
                email: signUpEmail.value,
                password: signUpPwd.value
            }
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }

            fetch(signUpUrl, options)
                .then(res => res.json())
                .then((result) => {
                    localStorage.loginToken = result.accessToken
                    localStorage.user_data = result.user_data
                    location.pathname = '/'
                    location.reload()

                }).catch((err) => {
                    localStorage.removeItem('loginToken')
                })
        })
    </script>

</body>

</html>